body{
    background-color: #0f172a;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content:end;
    padding-right: 50px;
    gap: 70px;
}
li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
}
li a:hover{
    background-color: #42536e;
    color: rgb(250, 245, 245);
}

li a:active{
    background-color: #42536e;
    color: rgb(250, 245, 245);
}
h3{
    text-align: center;
    margin-top: px;
}
nav{
    width: 100%;
    background-color:  #1d2d46;
    padding: 0%;
    height: 70px;
    padding-top: 20px;
    margin-top: -14px;
    border-radius: 3px;
}
.about h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #38bdf8;
}
.about p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.info{
     font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.about{
    margin-left: 590px;
}